*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6ca4cc;
    width:100%;
    padding: 5px;
}

.header {
    text-align: center;
    color:antiquewhite;
}

.citySearch{
    margin-left: 50px;
}

#cityName{
    width: 25%
}

.btn {
    background-color: #6ca4cc
}

.cityWeather{
    border: 3px solid black;
    width: 55%;
    height: 270px;
    float: right;
    margin-right: 50px;
    margin-top: -125px;
    padding-left: 20px;
    line-height: 300%;
}


.history {
    margin-left: 50px;
}

.historyButton{
    background-color: #6ca4cc;
    width: 38%;
}

.forecast{
    border: 3px solid black;
    width: 53.2%;
    height: 320px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    padding-left: 20px;
    
}

.dayOne, .dayTwo, .dayThree, .dayFour, .dayFive {
    border: 2px solid black;
    height: 250px;
    width: 19.2%;
    display: inline-block;
   background-color:#6ca4cc;   
}